In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from datasets import load_dataset

In [3]:
dataset = load_dataset("MartinThoma/wili_2018", trust_remote_code=True)
dataset

DatasetDict({
    train: Dataset({
        features: ['sentence', 'label'],
        num_rows: 117500
    })
    test: Dataset({
        features: ['sentence', 'label'],
        num_rows: 117500
    })
})

In [4]:
df_train = dataset['train'].to_pandas()
df_train

                                                 sentence  label
0       Klement Gottwaldi surnukeha palsameeriti ning ...    112
1       Sebes, Joseph; Pereira Thomas (1961) (på eng)....     93
2       भारतीय स्वातन्त्र्य आन्दोलन राष्ट्रीय एवम क्षे...     83
3       Après lo cort periòde d'establiment a Basilèa,...    176
4       ถนนเจริญกรุง (อักษรโรมัน: Thanon Charoen Krung...     42
...                                                   ...    ...
117495  Nekoliko prašćića je rođeno na farmi Arableovi...     52
117496  Tahiti of Otaheite is 'n eilandj in 't zuje va...    147
117497  同年，太后崩。絳侯周勃、陳平諸臣共謀誅呂。朱虛侯章已殺呂產，文帝使人持節勞章。朱虛侯欲奪節信...    172
117498  I det mindste opnåede Venedig den 18. april 14...     62
117499  KR tók fljótlega að sér að bjóða uppá æfingar ...    137

[117500 rows x 2 columns]

In [5]:
df_test = dataset['test'].to_pandas()
df_test

                                                 sentence  label
0       Ne l fin de l seclo XIX l Japon era inda çconh...      8
1       Schiedam is gelegen tussen Rotterdam en Vlaard...    185
2       ГIурусаз батальонал, гьоркьор гIарадабиги лъун...     28
3       ರಾಜ್ಯಶಾಸ್ತ್ರದ ಪಿತಾಮಹೆ ಅರಿಸ್ಟಾಟಲ್. ರಾಜ್ಯಶಾಸ್ತ್ರ...    231
4       Halukum adalah kelenjar tiroid nang menonjol d...    121
...                                                   ...    ...
117495  Wakati wa mimba,homa ya Q ni vigumu kutibu kwa...     32
117496  گیلون یک ته تاریخی منطقه‌ سفیدرود دلتای طرف ای...      1
117497  តាម​រយៈ​ការ​ចិញ្ចឹម​មនោសញ្ចេតនា​ជាតិនិយម​បែប​ន...     73
117498  روس اک وفاق اے تے 1 مارچ 2008ء توں اسدیاں 83 و...    103
117499  Chute annaée-lo, la Normaundie n'est pus recou...     99

[117500 rows x 2 columns]

In [6]:
from utils import translate_iso_639_3_to_full_name


idx = 11111

sentence = df_train.iloc[idx]["sentence"]
label = df_train.iloc[idx]["label"]
iso369_3 = dataset["train"].features["label"].int2str(int(label))
lang_name = translate_iso_639_3_to_full_name(iso369_3)

print(
    sentence,
    label,
    iso369_3,
    lang_name,
    sep="\n"
)

Der Ort ist bekannt für seine lebendige Volkskultur, vor allem die Volksmusik (spelmansmusik). Im Sommer werden mehrere Festivals abgehalten, u. a. Musik vid Siljan und Rättviksdansen.
31
deu
German

In [7]:
df_train["label_ISO369-3"] = df_train["label"].apply(lambda x: dataset["train"].features["label"].int2str(int(x)))
df_test["label_ISO369-3"] = df_test["label"].apply(lambda x: dataset["test"].features["label"].int2str(int(x)))

In [8]:
df_train["lang_name"] = df_train["label_ISO369-3"].apply(lambda x: translate_iso_639_3_to_full_name(x))
df_test["lang_name"] = df_test["label_ISO369-3"].apply(lambda x: translate_iso_639_3_to_full_name(x))

In [9]:
df_train["label_ISO369-3"].isna().sum(), df_test["label_ISO369-3"].isna().sum()

(np.int64(0), np.int64(0))

In [10]:
df_train["lang_name"].isna().sum(), df_test["lang_name"].isna().sum()

(np.int64(2500), np.int64(2500))

In [11]:
df_train[df_train["lang_name"].isna()]

,sentence,label,label_ISO369-3,lang_name
23,"Lor (basa Indonesia:Utara, basa Inggris:North)...",142,map-bms,None
25,"Meski kaya akan sumber daya alam lan manusia, ...",142,map-bms,None
51,1998年11月，一位中年女人自創燒炭自殺，將自己同燒烤爐封響沖涼房裏面。由於呢種方法之前，...,84,zh-yue,None
112,На лініі Слуцак — Старыя Дарогі працавалі тры ...,208,be-tarask,None
170,Börger is een dörp in de gemeeinte Börger-Orin...,186,nds-nl,None
...,...,...,...,...
117191,Krafft-Ebing was n earsten dee zee det biseksu...,186,nds-nl,None
117213,Расейскія вайсковыя часткі 7 красавіка 1995 го...,208,be-tarask,None
117252,"Маўрыта́нія (па-арабску: موريتانيا‎, афіцыйная...",208,be-tarask,None
117260,"n Basgitaar besteet nog nit zo lange, mear t o...",186,nds-nl,None
117473,Perkotaan metropolitan meliputi Perkotaan Sura...,142,map-bms,None

In [12]:
df_train[df_train["lang_name"].isna()]["label_ISO369-3"].value_counts()

label_ISO369-3
map-bms      500
zh-yue       500
be-tarask    500
nds-nl       500
roa-tara     500
Name: count, dtype: int64

In [13]:
df_train["label_ISO369-3"].str.contains("-").sum()

np.int64(2500)

In [14]:
(df_train["label_ISO369-3"] == "nds").sum()

np.int64(500)

In [15]:
df_train["label_ISO369-3"].value_counts()[[
    # "map",
    # "map-bms",
    # "zh",
    # "zh-yue",
    # "be",
    # "be-tarask",
    # "nds",
    # "nds-nl",
    # "roa",
    # "roa-tara",
]]

Series([], Name: count, dtype: int64)

In [16]:
df_test

,sentence,label,label_ISO369-3,lang_name
0,Ne l fin de l seclo XIX l Japon era inda çconh...,8,mwl,Mirandese
1,Schiedam is gelegen tussen Rotterdam en Vlaard...,185,nld,Dutch
2,"ГIурусаз батальонал, гьоркьор гIарадабиги лъун...",28,ava,Avaric
3,ರಾಜ್ಯಶಾಸ್ತ್ರದ ಪಿತಾಮಹೆ ಅರಿಸ್ಟಾಟಲ್. ರಾಜ್ಯಶಾಸ್ತ್ರ...,231,tcy,Tulu
4,Halukum adalah kelenjar tiroid nang menonjol d...,121,bjn,Banjar
...,...,...,...,...
117495,"Wakati wa mimba,homa ya Q ni vigumu kutibu kwa...",32,swa,Swahili (macrolanguage)
117496,گیلون یک ته تاریخی منطقه‌ سفیدرود دلتای طرف ای...,1,glk,Gilaki
117497,តាម​រយៈ​ការ​ចិញ្ចឹម​មនោសញ្ចេតនា​ជាតិនិយម​បែប​ន...,73,khm,Khmer
117498,روس اک وفاق اے تے 1 مارچ 2008ء توں اسدیاں 83 و...,103,pnb,Western Panjabi
117499,"Chute annaée-lo, la Normaundie n'est pus recou...",99,nrm,Narom

In [17]:
df_test[df_test["lang_name"] == "Polish"].loc[116040]["sentence"]

'Pod koniec kwietnia bateria została przeniesiona do Krakowa, a następnie do Puli. W następnych miesiącach brała udział w walkach na froncie serbskim, w czerwcu i lipcu 1915 roku w oblężeniu Modlina, później na froncie włoskim i ponownie serbskim. Kolejna akcja na froncie włoskim skończyła się uszkodzeniem działa. Naprawy dokonano w zakładach Škody w Pilźnie. Bateria otrzymała w zamian działo M.15 (numer 3). Powstała też kolejna bateria, która otrzymała czwarte wyprodukowane działo. Po remoncie działo numer dwa trafiło do nowo utworzonej trzeciej baterii. Dalszych dział tego typu nie produkowano, ponieważ gotowy był projekt lepiej przystosowanej do pełnienia funkcji działa polowego 42 cm Autohaubitze M.16.'

In [18]:
df_train['label'].value_counts()

label
112    500
93     500
83     500
176    500
42     500
      ...
198    500
204    500
89     500
64     500
125    500
Name: count, Length: 235, dtype: int64

In [19]:
(
    df_train['label'].sort_values().value_counts() == df_test['label'].sort_values().value_counts()
).all()

np.True_

In [20]:
dataset["train"].features  # label: ISO 369-3

{'sentence': Value(dtype='string', id=None),
 'label': ClassLabel(names=['cdo', 'glk', 'jam', 'lug', 'san', 'rue', 'wol', 'new', 'mwl', 'bre', 'ara', 'hye', 'xmf', 'ext', 'cor', 'yor', 'div', 'asm', 'lat', 'cym', 'hif', 'ace', 'kbd', 'tgk', 'rus', 'nso', 'mya', 'msa', 'ava', 'cbk', 'urd', 'deu', 'swa', 'pus', 'bxr', 'udm', 'csb', 'yid', 'vro', 'por', 'pdc', 'eng', 'tha', 'hat', 'lmo', 'pag', 'jav', 'chv', 'nan', 'sco', 'kat', 'bho', 'bos', 'kok', 'oss', 'mri', 'fry', 'cat', 'azb', 'kin', 'hin', 'sna', 'dan', 'egl', 'mkd', 'ron', 'bul', 'hrv', 'som', 'pam', 'nav', 'ksh', 'nci', 'khm', 'sgs', 'srn', 'bar', 'cos', 'ckb', 'pfl', 'arz', 'roa-tara', 'fra', 'mai', 'zh-yue', 'guj', 'fin', 'kir', 'vol', 'hau', 'afr', 'uig', 'lao', 'swe', 'slv', 'kor', 'szl', 'srp', 'dty', 'nrm', 'dsb', 'ind', 'wln', 'pnb', 'ukr', 'bpy', 'vie', 'tur', 'aym', 'lit', 'zea', 'pol', 'est', 'scn', 'vls', 'stq', 'gag', 'grn', 'kaz', 'ben', 'pcd', 'bjn', 'krc', 'amh', 'diq', 'ltz', 'ita', 'kab', 'bel', 'ang', 'mhr', 'che', 'koi', 'glv', 'ido', 'fao', 'bak', 'isl', 'bcl', 'tet', 'jpn', 'kur', 'map-bms', 'tyv', 'olo', 'arg', 'ori', 'lim', 'tel', 'lin', 'roh', 'sqi', 'xho', 'mlg', 'fas', 'hbs', 'tam', 'aze', 'lad', 'nob', 'sin', 'gla', 'nap', 'snd', 'ast', 'mal', 'mdf', 'tsn', 'nds', 'tgl', 'nno', 'sun', 'lzh', 'jbo', 'crh', 'pap', 'oci', 'hak', 'uzb', 'zho', 'hsb', 'sme', 'mlt', 'vep', 'lez', 'nld', 'nds-nl', 'mrj', 'spa', 'ceb', 'ina', 'heb', 'hun', 'que', 'kaa', 'mar', 'vec', 'frp', 'ell', 'sah', 'eus', 'ces', 'slk', 'chr', 'lij', 'nep', 'srd', 'ilo', 'be-tarask', 'bod', 'orm', 'war', 'glg', 'mon', 'gle', 'min', 'ibo', 'ile', 'epo', 'lav', 'lrc', 'als', 'mzn', 'rup', 'fur', 'tat', 'myv', 'pan', 'ton', 'kom', 'wuu', 'tcy', 'tuk', 'kan', 'ltg'], id=None)}

In [21]:
# "pol" in dataset["train"].features["label"].names

In [22]:
dataset["train"].features["label"].str2int("pol")
dataset["train"].features["label"].int2str(111)

'pol'

In [23]:
from utils import translate_iso_639_1_to_639_3

translate_iso_639_1_to_639_3("pl")

'pol'

In [24]:
df_test.to_feather("data/wili_2018_test.feather")